<div class="row">
    <div class="col">
        <nb-card>
            <nb-card-header>INTRODUCCIÓN</nb-card-header>
            <nb-card-body>
                <p><b style="font-size: large">{{appname}}</b> es un software de composición musical elaborado como
                    Proyecto de Fin de Grado en Ingeniería Informática, UNED.</p>
                <p>El objetivo principal es la implementación de un algoritmo evolutivo en un caso práctico. Para ello
                    se ha utilizado la librería <a href="https://jenetics.io/">Jenetics</a> disponible en Java.</p>

            </nb-card-body>
        </nb-card>
    </div>
    <div class="col">
        <object class="w-100" style="max-height: 500px" data="/assets/images/favicon.svg"></object>
    </div>
</div>


